{{ $input := . }}
{{ $data := dict }}

{{ if eq $input.sessionizeId "test" }}
    {{ $path := "test/sessionize-view-all.json" }}
    {{ with resources.Get $path }}
        {{ $data = .Content | transform.Unmarshal }}
    {{ else }}
        {{ errorf "Unable to get test data resource %q." $path }}
    {{ end }}
{{ else }}
    {{ $url := printf "https://sessionize.com/api/v2/%s/view/All" $input.sessionizeId }}
    {{ with resources.GetRemote $url }}
        {{ $data = .Content | transform.Unmarshal }}
    {{ else }}
        {{ errorf "Unable to get remote resource %s" $url }}
    {{ end }}
{{ end }}

{{ return $data }}
